[Desktop Entry]
Name=linuwu sense
Comment=Control Acer Predator/Nitro hardware features
Exec=/usr/bin/linuwu-sense-gui
StartupNotify=false
Icon=linuwu-sense-gui
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=fan;thermal;battery;keyboard;rgb;acer;predator;nitro;nitrosense;NitroSense;sense;hardware;
